div {
  text-align: center;
  border: 1px solid black;
  margin-top: 5px;
  padding: 5px 20px 20px;
  line-height: 1em;
}

#boxMargin {
  border-style: dashed;
}

#boxBorder {
  background-color: yellow;
}

#boxPadding {
  background-color: white;
}

#boxContent {
  border-style: dashed;
  height: 25vh;
}